# Entornos virtuales
.venv/
venv/
env/

# Archivos compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Bases de datos locales
*.sqlite3

# Configuración sensible
.env
.env.local
.env.server
*.key
*.pem

# Archivos de usuario / IDE
.vscode/
.idea/
*.code-workspace

# Archivos estáticos generados por collectstatic
staticfiles/
static_root/

# Media (si no quieres subir archivos subidos)
media/
